    
@model VmBannerPartial



<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>@Model.Tittle</h4>
                    <h2>@Model.Breadcrum</h2>
                </div>
            </div>
        </div>
    </div>
</div>